.index-page {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-dark);

    border: var(--test-border-dotted);
    border-color: red;
  }

  .index-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: var(--test-border-dotted);
    border-color: blue;
  }

  .index-hero-image, .index-info {
    color: var(--brand-light);

    border: var(--test-border);
  }

  .index-hero-image { 
      min-height: 60vh;

      background-image: url("landing-hero.svg");
      background-repeat: no-repeat;
      background-position: center center;
      
      border: var(--test-border-dotted);
      border-color: green;
  }

  .index-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    border: var(--test-border-dotted);
    border-color: yellow;
  }

  .index-title, .index-subtitle {
    border: var(--test-border-dotted);
  }

  .index-title {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.25;
  }

  .index-subtitle {
    font-size: 1.5em;
    font-weight: 100;
  }

  .index-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 0;

    border: var(--test-border-dotted);
  }

  .index-button, .index-button-outline {
    display: flex;
    gap: .5em;
    text-decoration: none;
  }

  .index-button  {
    background-color: #F3F1ED; 
    color: var(--brand-dark);
    border-radius: 50px;

    font-size: 1.25em;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 

    padding: 1em 1.25em;
  }      

  .index-button-outline {
    color: #F3F1ED; 
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #F3F1ED;

    font-size: .95em;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 

    padding: .5em 1.5em;
  }


  @media screen and (min-width: 1024px) {
    .index-container {
      flex-direction: row;
      gap: 2em;
      max-width: 1280px;
    }

    .index-hero-image { 
      width: 430px;
    }

    .index-info {
      text-align: left;
      justify-content: center;
    }

    .index-title {
      font-size: 4em;
    }  
    
    .index-subtitle {
      font-size: 2.5em;
    }    
    
    .index-buttons {
      align-items: baseline;
    }

    .index-button-outline {
      padding: 1em 1.5em;
    }
  }